<!-- Checkliste Section -->
<section id="checkliste" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Checkliste</h2>
        <h3 class="section-subheading text-muted">Für Ihren ersten Besuch</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Mit Rezept</h4>
        <p class="service-subheading text-muted">KV Karte, Vorbefunde</p>
      </div>

      <div class="col-md-3 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Pünktlich</h4>
        <p class="service-subheading text-muted">am besten 15 Min früher</p>
      </div>

      <div class="col-md-3 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Sportlich</h4>
        <p class="service-subheading text-muted">mit Turnhose, T-Shirt und Handtuch</p>
      </div>

      <div class="col-md-3 text-center">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Angemeldet</h4>
        <p class="service-subheading text-muted">mit ausgefülltem <a href="/files/aufnahmebogen.pdf">Aufnahmebogen</a></p>
      </div>

    </div>
  </div>
</section>
