<div class="portfolio-modal modal fade" id="{{ include.tag }}Modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container cv">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-body">
            <h2>{{ include.name }}</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="img/team/{{ include.tag }}.jpg" class="img-responsive img-circle" alt="">
              </div>
              <div class="col-md-8 text-left">
                {% capture my_include %}{% include cv/{{ include.tag }}.markdown %}{% endcapture %}
                {{ my_include | markdownify }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
    </div>
  </div>
</div>
