<div class="portfolio-modal modal fade" id="faustmuellercModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-body">
            <h2>Christa Faust-Müller</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="img/team/faustmuellerc.jpg" class="img-responsive img-circle" alt="">
              </div>
              <div class="col-md-8 text-left">
                <h5 class="cv">Vorstellung</h5>
                <ul class="cv">
                  <li>Physiotherapeutin</li>
                  <li>Heilpraktikerin</li>
                  <li>Osteopathie</li>
                </ul>
                <p class="cv">Fr. Faust-Müller hat 3 erwachsene Söhne</p>
                <h5 class="cv">Werdegang</h5>
                <ul class="cv">
                  <li>1981: Abitur am TLG in München</li>
                  <li>1984: Staatsexamen für Physiotherapie in Coburg</li>
                  <li>1992: Zertifikat in Manuelle Therapie</li>
                  <li>1993: Brügger Diplom in Murnau</li>
                  <li>1995 - 1997: Zertifikat Manuelle Therapie (DVMT)</li>
                  <li>1996: PNF Grund- und Aufbaukurs</li>
                  <li>2001 - 2002: Gyrotonic Expansion System</li>
                  <li>2005 - 2006: Lehrtätigkeit an der Berufsfachschule</li>
                  <li>2005 - 2011: Osteopathie an der IAO</li>
                  <li>2014: Fasciendistorsionsmodell nach Typaldos</li>
                  <li>2017 - 2018: PNI (Physio Neuro Immunologie)</li>
                </ul>
                <p class="cv"></p>
                <h5 class="cv">Leitbild</h5>
                <p class="cv">
                  "Angenehm ist am Gegenwärtigen die Tätigkeit, am künftigen die Hoffnung und am Vergangnen die Erinnerung. (Aristoteles)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div>
  </div>
</div>
