<div class="portfolio-modal modal fade" id="imprintModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Impressum</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-12 text-left">

                <section class="imprint">
                  <h4 id="inhaber">Inhaber</h4>
                  <ul>
                    <li><strong>Petra Lindner</strong> (Physiotherapeutin, HP sekt. Phys.)</li>
                    <li><strong>Christa Faust-Müller</strong> (Physiotherapeutin, HP)</li>
                  </ul>
                </section>

                <section class="imprint">
                  <h4 id="anschrift">Anschrift</h4>
                  <blockquote class="imprint">
                    Institut für Rehabilitation<br />
                    Knöpflerstr. 5<br />
                    81476 München<br />
                    <a href="/">http://www.institut-rehabilitation.de</a>
                  </blockquote>
                </section>

                <section class="imprint">
                  <h4 id="haftungsausschluss">Haftungsausschluss</h4>
                  <ol>
                    <li>
                      <p>
                        <strong>Inhaltshaftung</strong><br />
                        Wir haben mit größter Sorgfalt die Richtigkeit, Vollständigkeit und Aktualität der Inhalte verfasst. Sollte uns trotzdem ein Fehler unterlaufen sein, bitten wir um Information. Eine diesbezügliche Haftung ist erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich und wird mit einer umgehenden Entfernung der Inhalte beantwortet.
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Linkshaftung</strong><br />
                        Unser Angebot enthält Links zu externen Webseiten Dritter, für deren Inhalte wir keine Gewähr übernehmen.
                      </p>
                    </li>

                    <li>
                      <p>
                       <strong>Urheberrecht</strong><br />
                        Die erstellten Inhalte und Werke unterliegen dem deutschen Urheberrecht, welche die Vervielfältigung, Bearbeitung und Verarbeitung jeglicher Art mit der schriftlichen Zustimmung der Autoren regelt.
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Datenschutz</strong><br />
                        Die Nutzung dieser Webseite ist ohne Angabe personen-bezogener Daten möglich. Wir weisen jedoch darauf hin, dass Datenübertragung im Internet Sicherheitslücken aufweisen kann. Die Betreiber der Seiten behalten sich rechtliche Schritte im Falle der unverlangten Zusendung von Werbung vor.
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Google Analytics</strong><br />
                        Diese Website benutzt Google Analytics, einem Webdienst der Google Inc., welche sog. Cookies und Textdateien speichert und analysiert. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung und Speicherung der über Sie erhobenen Daten durch Goolge einverstanden.
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Heilversprechen</strong><br />
                        Die aufgezeigten Indikationen sind beispielhaft und bedeuten kein Heilversprechen.
                      </p>
                    </li>

                    <li>
                      <p>
                        <strong>Inhaltlich Verantwortliche:</strong><br />
                        Petra Lindner und Christa Faust-Müller
                      </p>
                    </li>
                  </ol>
                </section>
              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
