<div class="portfolio-modal modal fade" id="joboffersModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Stellenangebote</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/therapies/shirt.jpg" class="img-responsive img-centered" alt="Räumlichekeiten">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  Wir freuen uns über die Bewerbung einer/eines neuen
                  <ul>
                    <li>
                      <a href="#jobofferPhysiotherapistModal" data-toggle="modal" data-dismiss="modal" data-target="#jobofferPhysiotherapistModal">PhysiotherapeutenIn</a>
                    </li>
                    <li>
                      <a href="#jobofferReceptionistModal" data-toggle="modal" data-dismiss="modal" data-target="#jobofferReceptionistModal">Rezeptionskraft</a>
                    </li>
                  </ul>
                </p>

              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
