<div class="portfolio-modal modal fade" id="jobofferReceptionistModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Stellenangebote</h2>
            <h3>Rezeptionskraft</h3>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/therapies/shirt.jpg" class="img-responsive img-centered" alt="Räumlichekeiten">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  <strong>Wir suchen eine zusätzliche Rezeptionskraft</strong>
                </p>

                <p>
                  <strong>Unser Anforderungsprofil:</strong><br />
                  <ul>
                    <li>Sie verfügen über eine ruhige, freundliche Art mit Menschen umzugehen und deren Terminverwaltung macht Ihnen Spaß.</li>
                    <li>Sie haben vielleicht sogar medizinische Vorkenntnisse oder bereits Rezeptionserfahrung.</li>
                    <li>Sie sind mit den PC Grundkenntnissen vertraut und schaffen es mehrere Dinge gleichzeitig zu organisieren.</li>
                    <li>Ein gepflegtes Erscheinungsbild und der sorgfältige Umgang mit bedürftigen Patienten sind Ihnen ebenso wichtig, wie ein hohes Teambewusstsein.</li>
                    <li>Ihre zur Verfügung stehende Zeit beträgt 10 – 20 Stunden pro Woche.</li>
                  </ul>
                </p>

                <p>
                  <strong>Wir bieten:</strong><br />
                  Einen ergonomischen, hellen Arbeitsplatz – vergleichbar mit einer Dreh- und Angelscheibe auf der mittleren Etage unserer Praxis. Neben der zentralen Stellung ihres Tätigkeitsbereichs wird ihre Arbeit am PC von einem ergonomischen Arbeitsumfeld mit moderner Telefonanlage mit Headset und Haussprechanlage unterstützt. Das Rezeptionsmanagement wird von allen Therapeuten sehr geschätzt.  Die wöchentliche Fortbildungsstunde innerhalb der Arbeitszeit mit Patientenvorstellung oder Behandlung verschiedenster Krankheitsbilder gibt uns dazu Gelegenheit.
                </p>

                <p>
                  <strong>Wir wünschen:</strong><br />
                  Eine engagierte Person, ob weiblich oder männlich, welche das bestehende Rezeptionsteam aus 4 Leuten und das zehnköpfige Therapieteam mit Spaß und Tatkraft unterstützt – und sich für eine längerfristige Anstellung ab Sept. 2019 interessiert.
                </p>

                <p>
                  Wir freuen uns auf Ihre Bewerbungen mit Zeugnis, Lebenslauf und Lichtbild an unsere Postanschrift oder am liebsten bringen Sie es persönlich vorbei.
                </p>

              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
