<div class="portfolio-modal modal fade" id="jobofferPhysiotherapistModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Stellenangebote</h2>
            <h3>Physiotherapeut/-in</h3>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/therapies/shirt.jpg" class="img-responsive img-centered" alt="Räumlichekeiten">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  <strong>Über uns</strong><br>
                  Das Institut für Rehabilitation ist eine der größten
                  Physiotherapiepraxen im Münchner Süden und bietet ihren
                  Patienten eine breit aufgestellte Behandlungskette – von
                  der Akutbehandlung über die längerfris tige
                  Rehabilitation bis hin zur Spezialtherapie. Seit 25
                  Jahren ist das Institut für Rehabilitation ei n starker
                  und innovativer Partner in der Rehabilitation und eine
                  Anlaufstelle für erfahrene Physiother apeuten mit
                  fundierten Kenntnissen aus verschiedenen Fachbereichen.
                  Mit einer Fläche von 350 qm ist das Gesundheitshaus in
                  drei, modularen Etagen (Basic Care, Active Care ,
                  Special Care) aufgeteiltund unterstützt somit das
                  ganzheitliche Behandlungskonzept.  Das über 15köpf ige
                  Team aus Physiotherapeuten/innen, Osteopath/innen,
                  Heilpraktiker/innen und Rezeptionskräften verei nt ein
                  hohes Maß an Erfahrung mit jahrelangen Aus- und
                  Weiterbildungen sowie den neuen Herangehensweis en
                  junger Kollegen/innen. Seit 2014 wirkt das Institut
                  außerdem als Kooperationspraxis der Physiothera
                  pie-Schule am Klinikum Großhadern an der praktischen
                  Ausbildung von Physiotherapeuten mit. Als IHK ane
                  rkannter Ausbildungsbetrieb bildet es seit Jahren zur
                  Kauffrau / zum Kaufmann im Gesundheitswesen aus.
                </p>


                <p>
                  <strong>Ihre Aufgaben</strong><br>
                  <ul>
                    <li>Spezifische Befunderhebung u.a. nach standardisierten und validierten Verfahren</li>
                    <li>Individuelle Behandlung von Patienten mit orthopädischen, traumatologischen und neurologischen Krank heitsbildern sowiederen Dokumentation</li>
                    <li>Durchführung und Anleitung von Trainingsgruppen</li>
                    <li>Umgang mit dem Praxisorganisationsprogramm THEORG</li>
                  </ul>
                </p>

                <p>
                  <strong>Ihr Profil</strong><br>
                  <ul>
                    <li>Abgeschlossene Ausbildung zum Physiotherapeuten (m/w/d)</li>
                    <li>Dienstleistungsorientierung und hohes Maß an Sozialkompetenz</li>
                    <li>Freude an der kooperativen Zusammenarbeit</li>
                    <li>Eigenverantwortliche, strukturierte und zielorientiere Arbeitsweise</li>
                    <li>Idealerweise erste Berufserfahrung mit entsprechenden Fort- / Weiterbildungen erwünscht jedoch nicht erforderlich – wir interessieren uns sowohl für erfahrene Kollegen sowie für ambitionierte Berufseins teiger</li>
                  </ul>
                </p>

                <p>
                  <strong>Wir bieten</strong><br>
                  <ul>
                    <li>Hervorragende Entwicklungschancen in einem kompetentenTeam mit 15 Mitarbeitern</li>
                    <li>Attraktive Vergütungsmodelle basierend auf Ihrer Qualifikation</li>
                    <li>Eine angenehme Arbeitsatmosphäre in lichtdurchfluteten Räumlichkeiten</li>
                    <li>Gut strukturiertes Rezeptionsteam für ungestörtes Arbeiten am Patienten</li>
                    <li>Viel Zeit während der Einarbeitungsphase mit Gelegenheit zu Hospitation</li>
                    <li>Wöchentliche Fortbildungsstunden innerhalb der Arbeitszeit</li>
                    <li>Regelmäßige Fort- und Weiterbildungen für die fachliche und persönliche Weiterbildung</li>
                    <li>Familienfreundlichkeit und flexible Arbeitszeitzeitmodelle</li>
                    <li>Mitarbeiterevents</li>
                    <li>Optimale Anbindung im öffentlichen Nahverkehr (1 Min Fußweg zu U-Bahn und Bus)</li>
                    <li>Angebot zur Förderung eines Dienstfahrrades</li>
                  </ul>
                </p>

                <p>
                  <strong>Kontakt</strong><br>
                  Haben wir Ihr Interesse geweckt?  Wir freuen uns auf
                  Ihre aussagekräftige Bewerbung mit dem frühmöglichsten
                  Eintrittstermin per E-Mail.<br><br>

                  Bei Rückfragen steht Ihnen Fr. Christa Faust-Müller
                  und Fr. Petra Lindner gerne unter der unten angege
                  benen Telefonnummer oder per Mail zur Verfügung.

                  <blockquote class="imprint">
                    Institut für Rehabilitation<br />
                    Knöpflerstr. 5<br />
                    81476 München<br />
                    Tel.: 089/756664<br />
                    Fax.: 089/75940265<br />
                    <a href="/">http://www.institut-rehabilitation.de</a>
                  </blockquote>
                </p>

              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
