<div class="portfolio-modal modal fade" id="joboffersModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Stellenangebote</h2>
            <h3>Physiotherapeut/-in</h3>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/therapies/shirt.jpg" class="img-responsive img-centered" alt="Räumlichekeiten">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  Unser Team freut sich über die Bewerbung einer/eines neuen PhysiotherapeutenIn.
                </p>

                <p>
                  Sowohl erfahrenen Kollegen als auch Berufsanfängern bieten wir aus den verschiedensten Fachbereichen, wie Manuelle Therapie, Osteopathie, Craniosacrale, FDM, Gyrotonic, Mc Kenzie, Bobath, PNF, Schroth, Spiraldynamik, Pilates, FBL, Brügger, Sportphysiotherapie und SPOT interessanten Austausch.
                </p>

                <p>
                  Die wöchentliche Fortbildungsstunde innerhalb der Arbeitszeit mit Patientenvorstellung oder Behandlung verschiedenster Krankheitsbilder gibt uns dazu Gelegenheit.
                </p>

                <p>
                  Im Laufe der Zeit haben wir uns zusätzlich auf die frühfunktionelle, postoperative Nachbehandlung bei den verschiedensten Osteosynthesen, Endoprothesen und diversen Operationen spezialisiert.
                </p>

                <p>
                  Unsere hellen Räume in unserem Gesundheitshaus lassen ein optimales Arbeiten bei Tageslicht zu. Das Rezeptionsteam kümmert sich ganztags um den organisatorischen Bereich und ermöglicht uns somit ungestörtes Arbeiten am Patienten.
                </p>

                <p>
                  Unser Angebot an Therapiekombinationen erlaubt es uns meistens in Doppeleinheiten zu behandeln. Das gibt uns für unseren Behandlungserfolg die nötige Zeit.
                </p>

                <p>
                  Sollten Sie sich angesprochen fühlen, freuen wir uns über eine Kurzbewerbung mit
                </p>

                <ul>
                  <li>Foto</li>
                  <li>Bewerbungsschreiben</li>
                  <li>Tabellarischem Lebenslauf</li>
                </ul>

                <p>
                  Wenn alles passt, grüßen Sie mit uns zusammen vielleicht auch bald aus der Knöpflerstraße. :)
                </p>

              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
