<!-- About Section -->
<section id="kontakt" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Kontakt</h2>
        <h3 class="section-subheading text-muted">Ihr Weg zu uns</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <iframe id="map-canvas" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBBsugMK1AyAZMwSS6H5FGyI7W1YyEVPVw &q=Institut+fuer+Rehabilitation" allowfullscreen>
        </iframe>
      </div>
      <div class="col-lg-6">
        <p class="large text-muted">
          Die Terminierung erfolgt nur durch persönliche oder telefonische Kontaktaufnahme. Gerne können Sie uns vorab auch Ihr Rezept aufs Fax legen. So haben wir alle notwendigen Informationen zur Terminvergabe vor uns liegen.
        </p>

        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading">Checkliste für Erstkontakt</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Mit Rezept</h4>
            <p class="service-subheading text-muted">KV Karte, Vorbefunde</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Pünktlich</h4>
            <p class="service-subheading text-muted">am besten 15 Min früher</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Sportlich</h4>
            <p class="service-subheading text-muted">mit Turnhose und T-Shirt</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-file fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Mit Laken</h4>
            <p class="service-subheading text-muted">bitte eine Unterlage mitbringen</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
