<div class="portfolio-modal modal fade" id="leadershipModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Leitung</h2>
            <hr class="star-primary">
              <div class="row">
                <div class="col-md-6">
                  <div class="team-member">
                    <a href="#lindnerpModal" data-toggle="modal" data-dismiss="modal" data-target="#lindnerpModal">
                      <img src="img/team/lindnerp.jpg" class="img-responsive img-circle" alt="">
                      <h4>Petra Lindner</h4>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-member">
                    <a href="#faustmuellercModal" data-toggle="modal" data-dismiss="modal" data-target="#faustmuellercModal">
                      <img src="img/team/faustmuellerc.jpg" class="img-responsive img-circle" alt="">
                      <h4>Christa Faust-Müller</h4>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
    </div>
  </div>
</div>
