<!-- Portfolio Grid Section -->
<section id="leistungen" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Leistungen</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
          <img src="img/therapies/card-thumbnail.png" class="img-responsive img-centered">
        </a>
        <div class="portfolio-caption">
          <h4>Basistherapie</h4>
          <ul>
            <li>Basistherapie 1</li>
            <li>Basistherapie Nummer 2</li>
            <li>Basistherapie 3</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
          <img src="img/therapies/gyrotonic-2-thumbnail.png" class="img-responsive img-centered">
        </a>
        <div class="portfolio-caption">
          <h4>Spezialtherapie</h4>
          <ul>
            <li><a href="#">Spezialtherapie 1</a></li>
            <li><a href="#">Spezialtherapie 2</a></li>
            <li><a href="#">Spezialtherapie 3</a></li>
            {% for therapy in site.therapies %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#" class="portfolio-link" data-toggle="modal">
          <img src="img/therapies/handle-thumbnail.png" class="img-responsive img-centered">
        </a>
        <div class="portfolio-caption">
          <h4>Zusatztherapie</h4>
          <ul>
            <li>Spezialtherapie 1</li>
            <li>Spezialtherapie 2</li>
            <li>Spezialtherapie 3</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>
