<!-- Portfolio Grid Section -->
<section id="leistungen" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Leistungen</h2>
        <h3 class="section-subheading text-muted">Unsere Stärken</h3>
      </div>
    </div>

    <div class="row">

      <div id="basic-therapy" class="col-md-4 col-sm-6 portfolio-item">
        <img src="img/therapies/handle-thumbnail.png" class="img-responsive img-centered">
        <div class="portfolio-caption">
          <h4>Basistherapie</h4>
          <ul>
            {% for therapy in site.basic_therapies %}
            <li>{{ therapy.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="special-therapy" class="col-md-4 col-sm-6 portfolio-item">
        <img src="img/therapies/doors-thumbnail.png" class="img-responsive img-centered">
        <div class="portfolio-caption">
          <h4>Spezialtherapie</h4>
          <ul>
            {% for therapy in site.special_therapies %}
            <li><a href="#specialTherapyModal{{ therapy.modal-id }}" data-toggle="modal">{{ therapy.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="additional-therapy" class="col-md-4 col-sm-6 portfolio-item">
        <img src="img/therapies/towels-thumbnail.png" class="img-responsive img-centered">
        <div class="portfolio-caption">
          <h4>Zusatztherapie</h4>
          <ul>
            {% for therapy in site.additional_therapies %}
            <li>{{ therapy.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>
