<div class="portfolio-modal modal fade" id="lindnerpModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-body">
            <h2>Petra Lindner</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="img/team/lindnerp.jpg" class="img-responsive img-circle" alt="">
              </div>
              <div class="col-md-8 text-left">
                <h5 class="cv">Vorstellung</h5>
                <ul class="cv">
                  <li>Physiotherapeutin</li>
                  <li>Osteopathin/BAO</li>
                  <li>Heilpraktikerin (Physiotherapie)</li>
                </ul>
                <p class="cv">Fr. Lindner hat 2 erwachsene Töchter</p>
                <h5 class="cv">Werdegang</h5>
                <ul class="cv">
                  <li>1981: Abitur</li>
                  <li>1985: staatlich anerkannte Physiotherapeutin</li>
                  <li>1987-1998: Zertifikate für manuelle Therapie/KG ZNS Bobath/manuelle Lymphdrainage/med.Trainingstherapie</li>
                  <li>2008: Osteopathin/BAO</li>
                  <li>2013: Erlaubnis zur Ausübung der freien Heilkunde (HP)/Physiotherapie</li>
                  <li>2016: Spiraldynamik® Diplom/Level intermediate</li>
                  <li>2016: SPOT ® - mein gesamtes Wissen als therapeutisches Angebot (/leistungen/spot)</li>
                  <li>weitere Fortbildungen: FBL/Brügger/Pilates/FDM/Mc. Kenzie/DD/Kiefer-Spezialkurse</li>
                  <li>Lehrtätigkeit: Vorfußerkrankungen/Funktionsstörungen Kiefergelenk</li>
                </ul>
                <p class="cv"></p>
                <h5 class="cv">Leitbild</h5>
                <p class="cv">
                  Meine umfassende Ausbildung in aktiver und passiver Behandlung erlaubt mir individuell für jeden Patienten die passende Therapie zu gestalten.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div>
  </div>
</div>
