<div class="portfolio-modal modal fade" id="lindnerpModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="modal-body">
            <h2>Petra Lindner</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="img/team/lindnerp.jpg" class="img-responsive img-circle" alt="">
              </div>
              <div class="col-md-8 text-left">
                <h5 class="cv">Vorstellung</h5>
                <ul class="cv">
                  <li>Physiotherapeutin</li>
                  <li>Osteopathin/BAO</li>
                  <li>Heilpraktikerin (Physiotherapie)</li>
                  <li>dipl. Spiraldynamik® Fachkraft/ level advanced med</li>
                </ul>
                <p class="cv">Fr. Lindner hat 2 erwachsene Töchter</p>
                <h5 class="cv">Werdegang</h5>
                <ul class="cv">
                  <li>1981: Abitur</li>
                  <li>1985: staatliche Anerkennung zur Physiotherapeutin</li>
                  <li>1992: manuelle Therapie/ Zertifikat</li>
                  <li>1993: Bobath Erwachsene/ Zertifikat</li>
                  <li>1993: Brügger in Murnau/ Diplom</li>
                  <li>1998: Med.Aufbautraining/ Zertifikat</li>
                  <li>2000: Manueller Lymphdrainage/ Zertifikat</li>
                  <li>2008: Osteopathin/BAO</li>
                  <li>2010: Pilates-Instruktorin</li>
                  <li>2013: Erlaubnis zur Ausübung der freien Heilkunde (HP)/Physiotherapie</li>
                  <li>2014: FDM nach Typaldos/ Zertifikat</li>
                  <li>2018: Spiraldynamik®/ Diplom/Level advanced med</li>
                  <li>Das Resultat: SPOT ® - mein gesamtes Wissen als therapeutisches Angebot</li>
                  <li>weitere Fortbildungen: Kiefergelenks-Spezialkurse, FBL, Mc. Kenzie</li>
                  <li>Lehrtätigkeit: Vorfußerkrankungen/ Funktionsstörungen: Kiefergelenk / Schultergürtel</li>
                </ul>
                <p class="cv"></p>
                <h5 class="cv">Leitbild</h5>
                <p class="cv">
                  Meine umfassende Ausbildung in aktiver und passiver Behandlung erlaubt mir individuell für jeden Patienten die passende Therapie zu gestalten.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div>
  </div>
</div>
