<!-- Partners Aside -->
<aside class="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <img src="img/logos/partners/bvo.png" class="img-responsive img-centered" alt="">
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="img/logos/partners/uni-muc.png" class="img-responsive img-centered" alt="">
      </div>
      <div class="col-md-4 col-sm-6">
        <img src="img/logos/partners/vtp.png" class="img-responsive img-centered" alt="">
      </div>
    </div>
  </div>
</aside>
