<div class="portfolio-modal modal fade" id="qualityModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Qualität</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-6 text-center">
                <div id="chart-container" style="width: 360px !important;"></div>
                <img id="no-js-chart" src="img/media/patientenumfrage.jpg" />
              </div>
              <div class="col-lg-6 text-left">
                <h3>Patientenumfrage 2017</h3>
                <p>
                  Für uns als Praxis ist es ein großartiges Zeugnis und ein
                  fantastisches Feedback von unseren Patienten!
                </p>
                <p>
                  Vielen Dank!
                </p>
              </div>
            </div>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-6 text-left">
                <h3>Betriebliches Gesundheitsmanagement</h3>
                <p>
                  Der Artikel in der Fachzeitschrift Unternehmen/Praxis (Ausgabe März 2017) stellt
                  unsere Praxis mit dem TCC  (Team Care Concept) vor.
                </p>
                <p>
                  Wir sind stolz unser Wissen eigenverantwortlich und zielorientiert vor Ort
                  umsetzen zu können und hoffen mit vielen Tipps Anregungen zu schaffen.
                </p>
                <p>
                  Viel Spaß beim Durchlesen: <a href="/files/article_up_2017-03.pdf">Artikel Unternehmen/Praxis</a>
                </p>
              </div>
              <div class="col-lg-6 text-center">
                <img src="img/media/article_up_2017-03.jpg" style="width: 360px !important;"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

    </div>
  </div>
</div>
