<div class="portfolio-modal modal fade" id="roomsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Räumlichkeiten</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/therapies/entrance.jpg" class="img-responsive img-centered" alt="Räumlichekeiten">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  Das <strong>Institut für Rehabilitation</strong> besteht seit über 20
                  Jahren im Münchner Süden und ist durch den MVG (U3 und Bus 132
                  / 63) direkt mit der Innenstadt verbunden.
                </p>

                <p>
                  Unser Gesundheitshaus auf 3 Etagen bietet je nach Bedarf und
                  therapeutischer Zielsetzung die Auswahl zwischen ruhiger
                  Therapieeinheit im Obergeschoss, postoperativer
                  Frühmobilisation im Erdgeschoss und medizinischem
                  Aufbautraining im Souterrain. Individuell werden
                  neurologische, orthopädische und traumatologische Behandlungen
                  durch eigene Befunddokumentation mit  dem entsprechenden
                  Behandlungsplan optimiert.
                </p>

                <p>
                  Unsere Praxis versteht sich als Lehrinstitut. Seit 2014
                  bestehen sowohl mit der staatlichen Berufsfachschule für
                  Physiotherapie am Klinikum der Universität München als auch
                  mit der Hochschule Fresenius Kooperationsverträge zur
                  Betreuung von Praktikanten.
                </p>

              </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

