<div class="portfolio-modal modal fade" id="teamModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <h2>Team</h2>
            <hr class="star-primary">
            <div class="row">
              <div class="col-lg-4 text-center">
                <img src="img/team/group.jpg" class="img-responsive img-centered" alt="Team">
              </div>
              <div class="col-lg-8 text-left">

                <p>
                  Unser gut ausgebildetes Team aus Physiotherapeuten
                  und Osteopathen freut sich, Sie in unserer Praxis begrüßen zu
                  dürfen.
                </p>

                <p>
                  Regelmäßige externe und interne Fortbildung mit
                  fachübergreifendem Austausch halten uns stets auf aktuellstem
                  Stand, um für Sie die optimale Therapie zu gestalten.
                </p>

                <p>
                  Das Rezeptionsteam garantiert dabei ganztags einen
                  reibungslosen organisatorischen Ablauf, so daß wir uns voll
                  und ganz auf die Therapie konzentrieren können.
                </p>

                <p>
                  Unsere fachliche Kompetenz, die moderne Ausstattung mit großer
                  Trainingstherapie, sowie die freundliche Atmosphäre sind beste
                  Voraussetzungen für Ihre Genesung.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div>
  </div>
</div>

