<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %}

    {% include praxis.html %}
    {% include leistungen.html %}
    {% include kontakt.html %}
    {% include checkliste.html %}

    {% include partners.html %}
    {% include footer.html %}

    {% include therapies.html %}
    {% include imprint.html %}
    {% include privacy.html %}
    {% include rooms.html %}
    {% include team.html %}
    {% include leadership.html %}
    {% include cv.html name="Petra Lindner" tag="lindnerp" %}
    {% include cv.html name="Christa Faust-Müller" tag="faustmuellerc" %}
    {% include quality.html %}

    {% include joboffers.html %}

    {% include js.html %}
  </body>
</html>
